<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-Oh7ePM3bej617i6OvW5IVOugurTrETOtQ6YoZR1FTd0='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.Bj1icLx7.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BQfRy_c2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DNTLWrKG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DXTz3Rbt.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.Cn1cY5bi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BLUcFBb0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DVyqXkF9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dnzfvyee.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BAilAnr9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D54UoLP7.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BD8bqSm7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BPSUy9kl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/pXVVLMtZ.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/30.BBYiZ9tA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cx6cA6Ki.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B7bmE7Iz.js"><!--[--><!--]--><title>Callback</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1u6xlw5 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BQfRy_c2.js"),
						import("../_app/immutable/entry/app.Cn1cY5bi.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 30],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
