<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-ok9nkEnkgeJpsAP6uGNPc3hHhyxrTKDqa6Yt+KejiJQ='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.Di7mQMMp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-aVU66dM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmQi0fbH.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.jHEybz7L.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BjaYyaa_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DLBGyKVC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6bK2EJJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B_ggA-0N.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BLvsVIZg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DNJm3-SG.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.bduP1CjM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/71gCR-8F.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DGTOa5g8.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/30.VmKQGCls.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BctQMYGV.js"><!--[--><!--]--><title>Callback</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_11gkuwo = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.Di7mQMMp.js"),
						import("../_app/immutable/entry/app.jHEybz7L.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 30],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
