<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-OHZ2WFLsL0UkEcKac4h9we7Dr+LopktBcGRns0Thz8Q='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.8JYGxwkT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DH3cqJLg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ck6jKiur.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.MnY3fK22.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/tDAaDMC_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/YHhP1LbZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7JDmqCCW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ho0YXExL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BNlp6PFo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DZP54pO_.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.CPgF4GUp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/9ksWc3Vn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/mN05BXqA.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/30.DGYel_j7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/4NKlJeDw.js"><!--[--><!--]--><title>Callback</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1fpybfc = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.8JYGxwkT.js"),
						import("../_app/immutable/entry/app.MnY3fK22.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 30],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
