<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-w71Ne/+59VHvrztUEIU2HTGMF1L8cnICdieonb+pOsg='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentCenter.CgrtcW8D.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CZPJwA_E.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvFXPyxU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/nlANaGLT.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BZqfjl9s.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmMHVVX3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CWf9OOFK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DOjUa9u5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/5u5qd9TD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CzqnnvDH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/uWmgYd3Z.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BJRxLW0f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BgMuVWsk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DwvS5LQk.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/25.CHelRSii.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CSMNKnun.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/xD9JfGV5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CZv_AhHu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/FmRbdHbC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B6azywu7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DHRD3bu9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BEQMYyDu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bb8ybDgy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BBmlr_CE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ByEJQidz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BDnQQV_p.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DA40Z_in.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C4fNG2bJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Js0GGUMw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Afb0E4F7.js">
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><!----> <!----> <main class="svelte-103rzrg"><div class="svelte-vtwvgl"><div class="flex-col"><h1></h1> <br> <p></p> <!--[!--><!--]--> <div class="container svelte-m6xenu absolute"><button role="button" type="button" aria-label="Change Theme" class="invisible svelte-e6jqqr" data-isloading="false" aria-disabled="false"><!--[1--><div class="font-label svelte-e6jqqr"><!--[!--><div class="icon sun svelte-m6xenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12
                        18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75
                        3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path></svg></div><!--]--><!----></div><!--]--></button><!----></div><!----> <!--[!--><!--]--><!----></div><!----></div><!----></main><!----><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_qovpyq = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CZPJwA_E.js"),
						import("../_app/immutable/entry/app.BZqfjl9s.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 25],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
