{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "endOfLine": "lf",
    "jsxSingleQuote": false,
    "objectWrap": "preserve",
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ],
    "plugins": [
        "prettier-plugin-svelte"
    ],
    "quoteProps": "as-needed",
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "svelteAllowShorthand": true,
    "svelteSortOrder": "none",
    "trailingComma": "all"
}
