.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.prettierrc

# auto-built and exported by `wasm-modules`
src/wasm

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
