target
rauthy-client/target
rauthy-client/examples/*/target
.idea
rauthy-client/.idea
rauthy-client/examples/*/.idea
.vscode
.helix
.lapce
.env
.test_pid
data
frontend/.next
frontend/node_modules
frontend/out
static/v1
templates/html/
book/book
out/
.npm_cache
.sqlx
pnpm-lock.yaml
