<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-lE3ZMvLMS42V/CAmGGferpLcHIsT4XI7FJVBmYwGqN4='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="./_app/immutable/assets/5.hWEyy4Y6.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ButtonAuthProvider.DWI1NN_z.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Devices.CVExXCgo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="./_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="./_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="./_app/immutable/assets/WebauthnRequest.CzwDbkf1.css" rel="stylesheet">
		<link href="./_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="./_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputArea.D6mM9kxV.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentCenter.CgrtcW8D.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="./_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.8JYGxwkT.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DH3cqJLg.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Ck6jKiur.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.MnY3fK22.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/tDAaDMC_.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/YHhP1LbZ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/7JDmqCCW.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ho0YXExL.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BNlp6PFo.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DZP54pO_.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.CPgF4GUp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/9ksWc3Vn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/mN05BXqA.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/5.CKegn-Fq.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BTaFr7HN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DOEB3Ovi.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Cj5zIR7o.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DZNCtpeX.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CY4mVlEI.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CWz_piBP.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DREqFFqR.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Bd2Rvcxs.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DnVb7Nyf.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/QNbYgHEk.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Q8Ah1TjY.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/0HgaTnX3.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BuPqb6Wv.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Ct8z9Mup.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/D75ao6x5.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CKFrqqP0.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/qjmJ_WV1.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Sykf3ifF.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DkYC4qk-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BM7IgWpA.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/iKqYlEgo.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/xKzkh2rf.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/By82gADu.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/lKncIEmp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/h4_EZIry.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CvwfYfQa.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C8NGz9gp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C1PH3bBF.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C42IzXc-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Dghmk5x3.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/G3H5k1qO.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/PiKtpHUv.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BBDZNr5y.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/4NKlJeDw.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Doh1wgOS.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/mFBwQ9am.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/rkCvXuuX.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DIUoHniG.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B31o65yn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DsAM5_DI.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/T0GdiCOp.js"><!--[--><!--]--><title>User Account </title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><main class="svelte-103rzrg"><div class="svelte-vtwvgl"><!--[!--><!--]--> <div class="container svelte-m6xenu absolute"><button role="button" type="button" aria-label="Change Theme" class="invisible svelte-e6jqqr" data-isloading="false" aria-disabled="false"><!--[1--><div class="font-label svelte-e6jqqr"><!--[!--><div class="icon sun svelte-m6xenu"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12
                        18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75
                        3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"></path></svg></div><!--]--><!----></div><!--]--></button><!----></div><!----> <!--[!--><!--]--><!----><!----></div><!----></main><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1fpybfc = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.8JYGxwkT.js"),
						import("./_app/immutable/entry/app.MnY3fK22.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 5],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
