<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-6N273vkCThdPA21majop2GqjuZnFe4KNNVBMS93TrO8='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="./_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="./_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/2.CuFA85UG.css" rel="stylesheet">
		<link href="./_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Pagination.BdyGauFO.css" rel="stylesheet">
		<link href="./_app/immutable/assets/NavSub.BfqhCeuH.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="./_app/immutable/assets/NavButtonTile.8tNCcYqm.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="./_app/immutable/assets/SelectList.C3ZG6Sq9.css" rel="stylesheet">
		<link href="./_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Devices.CVExXCgo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link href="./_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="./_app/immutable/assets/search.DUeB7W-1.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Users.BBwO-Zbp.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.BifQmcmt.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B6it-A6N.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmQi0fbH.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.CWKHwZOz.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BjaYyaa_.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DLBGyKVC.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C6bK2EJJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B_ggA-0N.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BLvsVIZg.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DNJm3-SG.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.bduP1CjM.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/71gCR-8F.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DGTOa5g8.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/2.CG7xe9Hp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/UlQQkuaW.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DzJ8OZ_u.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Cf3VYlYr.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DPLO-ozG.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DOlUUCkJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DB8eOlLu.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DPJgUI14.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DqhsozSK.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/YQCw2eEa.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B3JAWFL5.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CZf6fJph.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DabtJ4Gc.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/2uB3wQ1F.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/W_Ypw_dT.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Bql5fURB.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Dth7WIu-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/pt0gL0d6.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ibGTLHQD.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CMm1ZRdW.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DiUwdNoF.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/6.JRJAVhUf.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/s8nzM7Mj.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BBZ-aIjz.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Z8_Ab8EB.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Bx4BeMfR.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ClbMy9q0.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BLvNyGE2.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CNTKxNWA.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DJVZKROe.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DpqPmJAJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Bfi4YUpT.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DwPr_s7h.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/gfDO7tLr.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CNMQp9ma.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CFiOSVzB.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CLaFdvnh.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/1UVa_F2Q.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/gwKtuDud.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B_H4tZ_5.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/MKf726CY.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B7t3YI0Q.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CAzQQhB1.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DPoldrSM.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CHCNH3ik.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BWK4fHb9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C37IM9Kl.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Clnxc71_.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Cvau9dZM.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1bditrm = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.BifQmcmt.js"),
						import("./_app/immutable/entry/app.CWKHwZOz.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 6],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
