<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }

        body {
            color: var(--col-text);
            background: var(--col-bg);
        }

        a, a:visited {
            color: var(--col-act2)
        }

        a:hover {
            color: var(--col-act2a)
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-a5L8hp68z4lgf1PypKkSb5DsyB4Ka6QE2XBpKzL/qS4='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BjC-dB5x.css" rel="stylesheet">
		<link href="./_app/immutable/assets/18.B9MTzT3c.css" rel="stylesheet">
		<link href="./_app/immutable/assets/OptionSelect.v1wsJTwS.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="./_app/immutable/assets/LangSelector.O5X7vySz.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Input.DM5r-cSQ.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentCenter.BpmtvV5f.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.BqXT8hud.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/entry.DOe69Pnm.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index-client.wsxBsMrC.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.CaPZMw1_.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.ZQIC6lzP.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/legacy-client.Dm1n63jC.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/render.CGk_31K2.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/svelte-head.2q0gYbHo.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/template.CyQ6qVeq.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/if.CdP3FEr9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/proxy.MUfQDWlv.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/this.2HyDd4fA.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/props.byAfpN0R.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.Iie9HnTn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/snippet.CWtw0GJr.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/is_dev.svelte.smBQ6gDx.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/language.svelte.1MhRfJyp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/i18n.svelte.B_PCuqyN.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/18.zlZPs7pH.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/OptionSelect.ZTdPq3oL.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/helpers.DikdX20z.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/dataFetching.BTF7Y2Cd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Button.BsAE8GCO.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/LangSelector.Q_ihhFqZ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Input.CbYO_vsg.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/pow.dgjdRmCA.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ContentCenter.24rd6EYh.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Template.D8ipGA-s.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/param.svelte.DWWzB7kP.js"><!--[--><!--]--><title>Device Authorization</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!----> <main class="svelte-1w3gfbz"><div class="svelte-vtwvgl"><!--[--><div class="container svelte-10pff2x global background"><div class="inner svelte-10pff2x" style="margin-top: 0px"><!--[--><div class="circle svelte-10pff2x"></div><!--]--> <!--[!--><!--]--> <!--[!--><!--]--></div></div><!--]--> <div class="svelte-s2vujs absolute absoluteLeft"><select style="width: inherit;" class="svelte-ysgm66"><!--[--><option class="opt svelte-ysgm66" value="de">de</option><option class="opt svelte-ysgm66" value="en">en</option><option class="opt svelte-ysgm66" value="zh">zh</option><option class="opt svelte-ysgm66" value="ko">ko</option><!--]--></select><!----></div><!----><!----></div><!----></main><!----><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_znhb23 = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.BqXT8hud.js"),
						import("./_app/immutable/entry/app.ZQIC6lzP.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 18],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
