<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-vqEkk7z8TQjVyFTsHNTFAI5CbtzFEmSS7x0BCA3PU4I='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="./_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentCenter.CgrtcW8D.css" rel="stylesheet">
		<link href="./_app/immutable/assets/28.BGsNSr6e.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.Di7mQMMp.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/-aVU66dM.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmQi0fbH.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.jHEybz7L.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BjaYyaa_.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DLBGyKVC.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/C6bK2EJJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B_ggA-0N.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BLvsVIZg.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DNJm3-SG.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.bduP1CjM.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/71gCR-8F.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DGTOa5g8.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/28.DJfr4v0V.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DPLO-ozG.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DOlUUCkJ.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DwPr_s7h.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B3JAWFL5.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B7t3YI0Q.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CAzQQhB1.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Dth7WIu-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Cf3VYlYr.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CyYIiz5-.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/gfDO7tLr.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CNMQp9ma.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DswDW5U8.js">
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><main class="svelte-103rzrg"><div class="svelte-vtwvgl"><div class="flex-col"><h1>FedCM Testing</h1> <div class="row svelte-wuqbvo"><div><b>FedCM supported:</b></div> <div class="check svelte-wuqbvo"><!--[!--><svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="1.5rem" color="hsl(var(--error))" opacity="0.9"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg><!--]--><!----></div></div> <!--[--><br>-> enable idp registration:<br> <code>chrome://flags/#fedcm-idp-registration</code><!--]--> <!--[!--><!--]--></div><!----></div><!----></main><!----> <!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_11gkuwo = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.Di7mQMMp.js"),
						import("./_app/immutable/entry/app.jHEybz7L.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 28],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
