<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-ZLkhCHnkagCBkBew6nfwIBmrh9yZ5Q2nWKcY69RtTQ0='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="./_app/immutable/assets/28.BGsNSr6e.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="./_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentCenter.CgrtcW8D.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.CZPJwA_E.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CvFXPyxU.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/nlANaGLT.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.BZqfjl9s.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BmMHVVX3.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CWf9OOFK.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DOjUa9u5.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/5u5qd9TD.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CzqnnvDH.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/uWmgYd3Z.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.BJRxLW0f.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BgMuVWsk.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DwvS5LQk.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/28.BG-P6Mqb.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BEQMYyDu.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CZv_AhHu.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/6f3yten3.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DHRD3bu9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/gvhP3O7i.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DYRiKtW9.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DJ6IvX5N.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BDnQQV_p.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DA40Z_in.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CmL1R98Y.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/DswDW5U8.js">
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[!--><!----><main class="svelte-103rzrg"><div class="svelte-vtwvgl"><div class="flex-col"><h1>FedCM Testing</h1> <div class="row svelte-wuqbvo"><div><b>FedCM supported:</b></div> <div class="check svelte-wuqbvo"><!--[!--><svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="1.5rem" color="hsl(var(--error))" opacity="0.9"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg><!--]--><!----></div></div> <!--[--><br>-> enable idp registration:<br> <code>chrome://flags/#fedcm-idp-registration</code><!--]--> <!--[!--><!--]--></div><!----></div><!----></main><!----> <!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_qovpyq = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.CZPJwA_E.js"),
						import("./_app/immutable/entry/app.BZqfjl9s.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 28],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
