<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="./assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-/O7c+Wen+YZB7ODCvCbgvwMVqSFtbtJjIOYi+AUMKEM='; style-src 'self' 'unsafe-inline'">
		<link href="./_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="./_app/immutable/assets/23.BGsNSr6e.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Input.MCtU4koe.css" rel="stylesheet">
		<link href="./_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="./_app/immutable/assets/ContentCenter.BpmtvV5f.css" rel="stylesheet">
		<link rel="modulepreload" href="./_app/immutable/entry/start.vvRf_Ze0.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/entry.kK8xfB3N.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index-client.C1uYfxHd.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.BrQhhgF-.js">
		<link rel="modulepreload" href="./_app/immutable/entry/app.oT3N9f1R.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/legacy-client.CLGpwDPz.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/render.DlGhCWX2.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/svelte-head.76d9LV1R.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/template.BehheIQn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/if.DL6pUnI4.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/proxy.bZKuG6wn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/this.B2VKympU.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/props.OoymhrXq.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/0.DjPNdUlO.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/snippet.D-0bt_Xy.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/i18n.svelte.C5UT6hSp.js">
		<link rel="modulepreload" href="./_app/immutable/nodes/23.BT0PhLWn.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Input.CUOUCx9V.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/index.BcsnDkjo.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/Button.BCobGyYN.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/helpers.EoWe9H8J.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/CheckIcon.DzhsoKrH.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/dataFetching.Dq7bE0Ok.js">
		<link rel="modulepreload" href="./_app/immutable/chunks/ContentCenter.BU-nX73m.js">
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><main class="svelte-1w3gfbz"><div class="svelte-vtwvgl"><div class="flex-col"><h1>FedCM Testing</h1> <div class="row svelte-wuqbvo"><div><b>FedCM supported:</b></div> <div class="check svelte-wuqbvo"><!--[!--><svg fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" width="20" color="var(--col-err)" opacity="0.9"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg><!--]--><!----></div></div> <!--[--><br>-> enable idp registration:<br> <code>chrome://flags/#fedcm-idp-registration</code><!--]--> <!--[!--><!--]--></div><!----></div><!----></main><!----> <!--[!--><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1q2a9ln = {
						base: new URL(".", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("./_app/immutable/entry/start.vvRf_Ze0.js"),
						import("./_app/immutable/entry/app.oT3N9f1R.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 23],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
