<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-cUP7zl/I4dREifi7nkKxuqxENOqEUTVFegqN3fnr0dc='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/27.BfR9pszH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/WebauthnRequest.CzwDbkf1.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.5n76ILtG.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.CdKUcpmj.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BqsUIxVc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.N1G99onN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.B6iEebqi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DNRH1Gyi.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CgaP0Xoc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.BZkWSPYd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Bsso_k3p.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.BZpVhBz3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.BMDtqFuO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.1XSPtMho.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.CjI65D-A.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.D3iU5zny.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.C6aLk1Bq.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.Cimnr9ZX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.CTHg_e8y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CSnrsaW1.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/27.Y-XuIxWD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.Cbcu7vP_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/WebauthnRequest.B12HRIW8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.CRSTiBZD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.CmB1UnQy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.BbriGzIU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/param.svelte.BdhMoRpL.js"><!--[--><!--]--><title>Callback</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[!--><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1dyqfzs = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BqsUIxVc.js"),
						import("../_app/immutable/entry/app.CgaP0Xoc.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 27],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
