[package]
name = "rauthy-client"
version = "0.11.1"
edition = "2021"
authors = ["Sebastian Dobe <sebastiandobe@mailbox.org>"]
license = "Apache-2.0"
rust-version = "1.85.0"
categories = ["web-programming"]
keywords = ["rauthy", "rauthy-client", "oidc"]
description = "Client for the Rauthy OIDC IAM project"
readme = "README.md"
repository = "https://github.com/sebadob/rauthy/tree/main/rauthy-client"

[package.metadata.docs.rs]
features = ["backchannel-logout", "device-code", "scim"]
rustdoc-args = ["--features backchannel-logout,device-code,scim"]

[features]
default = []
actix-web = [
    "dep:actix-web",
    # minimal versions
    "dep:actix-macros",
]
axum = [
    "dep:axum",
    "dep:axum-extra",
]
backchannel-logout = []
device-code = []
qrcode = ["device-code", "dep:qrcode"]
scim = []
userinfo = []

[dependencies]
# common
base64 = "0.22.0"
bincode = { version = "2", default-features = false, features = ["std", "serde"] }
cached = { version = "0.56", features = [] }
chacha20poly1305 = { version = "0.10.1", features = ["std"] }
chrono = { version = "0.4.31", default-features = false, features = ["clock", "serde", "std"] }
http = "1"
jwt-simple = { version = "0.12.6", default-features = false, features = ["pure-rust"] }
rand = "0.9"
reqwest = { version = "0.12.12", default-features = false, features = [
    "brotli", "json", "rustls-tls", "rustls-tls-webpki-roots"
] }
serde = { version = "1.0.180", features = ["derive"] }
serde_json = "1.0.100"
sha2 = "0.10.9"
thiserror = { version = "2" }
tokio = "1.34"
tracing = "0.1.40"

# actix-web
actix-web = { version = "4.4", optional = true, features = [] }

# axum
axum = { version = "0.8", optional = true, features = [] }
axum-extra = { version = "0.12.2", optional = true, features = ["cookie", "typed-header"] }

# device-code
qrcode = { version = "0.14.0", optional = true }

# make minimal versions happy
actix-macros = { version = "0.2.4", optional = true }
