<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
            color: #383838;
        }

        h1 {
            font-size: 1.3rem;
        }
    </style>
    <title>Blocked</title>
</head>
<body>
<h1>Forbidden</h1>
<p>You have been blocked.</p>
</body>
</html>
