<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-P86TC1JDCXJZvqyouE+rNqJUfHeQnuX5It3kzUjdIag='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.CJIniZCa.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AdminMainPre.CNMQGRCO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.BgusA-6p.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.f2AF7nSe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.MCtU4koe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AppVersion.DHsV5F-O.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordInput.CZdm5J1r.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CpXtnh7y.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.B4WWgY-8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.CI-DSOoj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Cqn5bTAA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BwtYkuQa.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CTz7dmSN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.B3KsQmEJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.BxZ_8nPF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DTZb8QfM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.A7ni-K4i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.CfO-_epY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.Ce5Ub1RB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.ETDJznD-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.YICxVAwD.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.CUndEa_J.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.YItZinX2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/is_dev.svelte.DT_BEvyo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CZcZQkVy.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/5.CYgdU_eR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.CWXZuyhS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AdminMainPre.DrF7230u.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.BTF7Y2Cd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.Ch35LVs2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.CZ9R9OcM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Devices.Cz4gxWug.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.Nnphyg3I.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/tweened.D7sgWmKu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.DikYy5qt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.iy0kaw_K.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AppVersion.Bmp6BG1B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordInput.PI3FNiBa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordPolicy.DXpUlmha.js"><!--[--><!--]--><title>Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!--[--><div class="container svelte-2cwfk8 local"><div class="loading svelte-2cwfk8" style="margin-top: 0px;"><div style="background: var(--col-acnt);" class="loading-1 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-2 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-3 svelte-2cwfk8"></div></div></div><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1n5moqk = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.B4WWgY-8.js"),
						import("../_app/immutable/entry/app.CTz7dmSN.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 5],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
