<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-uOmZXIFJ+FDgXVo24VvgMkwMd2jE3GxPkJmEe495t9M='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/7.lb0LMh70.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DoCLemSo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CafMj_Fj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CXJ-3avl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-nwkJyM.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.D6GwHIdm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DmLjbmU6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8nUqfqE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C3XMhfdI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BiI21XkS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CwQ5lQAV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/2rFDT0Lm.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.gC3Wa8kz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ivlJJTAR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CMjKUQkH.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.D__Bp8kX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/1rF6JvjJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Crgqrr3Z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C-ghU9Ac.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUAPoI3e.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D_HYGYLR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DmGHSNVM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DJrws3yD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DppGgfa0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Fz9KQU3M.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/6MDunRKZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DAX5MQt8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMJUG0wm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/emZtalxW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BsLhmaxX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ch0F_Zoj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dq3vuPfn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/g4HrlpfL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B899WTRX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CU527LE8.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/7.B3Vv3TdS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C-Lg4I_M.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/MNfc1IKL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B82wSkDx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BB-qItao.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D4OK0IqS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6Ehfmfa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/TvawFHML.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C0_UZAx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvnJ-bH5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CFT15Ou1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/RN-bweNU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D0NByJFk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bw4crv1X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C1ZebG9t.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BE8gxf21.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BgEKkuL8.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_5laooq = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CafMj_Fj.js"),
						import("../_app/immutable/entry/app.D6GwHIdm.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 7],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
