<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-iBLJ0bObBkzuIckt91bj9Oo5lGoadzJOb0PjsVtLO84='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BPQiZb9c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/7.lb0LMh70.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DiQNZOCI.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.D8Al82OF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CoVqhiFo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvlvO1XB.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.DPW8Iw0d.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTI4QPiR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BH6NCLk-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUO_AUgz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Wh68IIk2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zosqiMUL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6SR4G2t.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.UbyZUWMC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-T201g_q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BQ1-pLIs.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.D0jut4bO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i8Xqpu09.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7lxiEjMQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BbRujPvb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMkkW5Nn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BMbqVy6X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6vpM94V.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BWe1X9CS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B8wC3kJv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BPVdf4Rb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpWRzPRQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhIBACXG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8mHI_K9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DYtiVhoA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CRwGPA6d.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/2DYY54Zs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ckhed6J8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Vi3uK7uO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmpEzKyJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/K02i8WAj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DM0MFlCa.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/7.-yEjhNhl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnPoFdx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-L0o8jR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CUuTpoTi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dWvWuq1E.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BHXYRhv2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpfzNsA6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/wXCWlxMM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Nks81rMs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CE2_6siz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DTR8xafZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CxCmFdor.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CaD2yKt4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D6E4lNPv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_OE2Cq0B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CeeD0cV_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Gcs0S4Fz.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true" style="display: none">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_18bt4bh = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.D8Al82OF.js"),
						import("../_app/immutable/entry/app.DPW8Iw0d.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 7],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
