<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }

        body {
            color: var(--col-text);
            background: var(--col-bg);
        }

        a, a:visited {
            color: var(--col-act2)
        }

        a:hover {
            color: var(--col-act2a)
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-aKd1BzPYwVSD+S6AI3G47d5SUSGkHKUIJ7PLfEiK3+Q='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BjC-dB5x.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AdminMainPre.ZcanbrCY.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.BgusA-6p.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OptionSelect.v1wsJTwS.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.DM5r-cSQ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AppVersion.DHsV5F-O.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordInput.DaeGq-fv.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CpXtnh7y.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CtTLem66.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.DTN3-12j.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.CzqVbBUo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.GhyFcvTZ.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BqD-ymlD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.DPLAlLYD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.CK5MTJQL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.BSz900xL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.io25wnf1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.BnegfJmL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.CLOcaDU7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.C_MHtC74.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DfqIXgOJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.B82X2vfx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/is_dev.svelte.qp6n2kD5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.Zi8jd0TO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.C_qSL0ZA.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/7.BXLH6c3a.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.Cdp_P06_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AdminMainPre.CSGzinoD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.Br47vc1D.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.JzTZa4bh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.BvaXa0cv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Devices.1_HD5eJJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OptionSelect.jFlepSwk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/tweened.x1rdCnFk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.jkTumKYK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.B6v_Qvnl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AppVersion.C23iCWTd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordInput.DOldwDot.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordPolicy.DbNoBlQZ.js"><!--[--><!--]--><title>Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!--[--><div class="container svelte-2cwfk8 local"><div class="loading svelte-2cwfk8" style="margin-top: 0px;"><div style="background: var(--col-acnt);" class="loading-1 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-2 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-3 svelte-2cwfk8"></div></div></div><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_en17ro = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CtTLem66.js"),
						import("../_app/immutable/entry/app.BqD-ymlD.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 7],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
