<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-cFoJ6vHT0k7CIsMy4YUp4NH85PX1zXCUzcQ2vFI19Y4='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BCkIOE2g.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/fetch.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.DaojqfPf.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.Bvz5z64k.css" rel="stylesheet">
		<link href="../_app/immutable/assets/9.BOx0Kgre.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OptionSelect.F0oGNSOe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ExpandContainer.DBJP9gRI.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.CKYn2qYo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TabBar.DBbO2BIF.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Switch.C9jc5VW9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ItemTiles.B42al8qR.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.7ZUwaHZE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.MCtU4koe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordInput.CZdm5J1r.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ImageUploadRaw.FSeRKSXX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.DY-iycz9.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.DuwEX4Jr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.Col7vTVz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/runtime.BONl2e88.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.Di-WNyKL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Bjp_k6xO.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.ChEZoEES.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.D71ZcBDy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.AqJWcVDb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DBtDtmZn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.B7ldVCvc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.DS90EFHs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.0BECmVET.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.8_1FeNtN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.BlbrNjWf.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DMq0J7V7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.D6O6IDbh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.5-Elpi0x.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.B1gwAzk0.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.D86WGDSh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.B6hxHEfi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.Bh0CHd7o.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DMwa1Kwf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.JUNnB5kv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BJiFQ8Di.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.CQGRRstl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.Zw9l5r2b.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.Bce--_O8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.DulBaC0z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.HLl6XeHK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.B31Vq2M8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.CUoxx_U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.BVESbwbj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.UEWOjmpJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.ClxB8TAh.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/9.BoXajD8Y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OptionSelect.TkTfcdPh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.mrWtKrwW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/admin.Ca8NwkBI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ExpandContainer.2O3yvOBK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconChevronRight.BhrAA9HR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/spring.DIfzGqN5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.BZNUXfH5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/TabBar.u0W3le5w.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.esm.B2KJ0uBO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Switch.DtMymIQe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ItemTiles.6wBDc_SZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OrderSearchBar.DcBjpUC6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.C9gKcOrO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.JPJkNEUa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.KbCPDMgh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordInput.gsJfcUzM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ImageUploadRaw.DighByyl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Pagination.DjghmVzr.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_10nyd07 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.DuwEX4Jr.js"),
						import("../_app/immutable/entry/app.ChEZoEES.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 9],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
