<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-0x+RKfc59yRR5fDSwNT8H02OzI3Ht5OjL2bfTNmsgzQ='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AdminMainPre.CzKlJ1IY.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AppVersion.D9cCjXKY.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.kuO9zTZa.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.CsfgDKby.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.BiG1tUOB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/patterns.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.MCtU4koe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordInput.CZdm5J1r.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.vChu9ae1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.idKXET8J.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Bsb9hq-M.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BaJiGNss.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CvsmOu6k.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.QbOhT8wP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Cl_nSOQQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.YbFS2hoE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.D54H5ZkF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.Mw_hWmq0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.DclUEOHG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.C8ORjxiC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.CcMnSFiY.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DgLuU0X2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.DdpBggvk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/is_dev.svelte.Bsag8ZOP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.B0RF3bDg.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/9.BnMr4bA_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.CyS2OsSI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AdminMainPre.99DKZfTY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.D_YOETHp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.Cfg4Q1a_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.BbZR8hhL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DiuQmtU3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Devices.Boz3jaXn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.Zeh_8WtX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/patterns.CYl4_uw6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.BZFKcvGC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.BHI3aq7I.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordInput.B_ynErOb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordPolicy.0ZfnAjGI.js"><!--[--><!--]--><title>Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!--[--><div class="container svelte-2cwfk8 local"><div class="loading svelte-2cwfk8" style="margin-top: 0px;"><div style="background: var(--col-acnt);" class="loading-1 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-2 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-3 svelte-2cwfk8"></div></div></div><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1ragzps = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.vChu9ae1.js"),
						import("../_app/immutable/entry/app.CvsmOu6k.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 9],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
