<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-1fXUg++f+023pjLgBNn6CkUvqI+LEwSO7VFe41njJqE='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BCkIOE2g.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/fetch.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.DaojqfPf.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.Bvz5z64k.css" rel="stylesheet">
		<link href="../_app/immutable/assets/11.DJOffPND.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.DuwEX4Jr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.Col7vTVz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/runtime.BONl2e88.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.Di-WNyKL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Bjp_k6xO.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.ChEZoEES.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.D71ZcBDy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.AqJWcVDb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DBtDtmZn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.B7ldVCvc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.DS90EFHs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.0BECmVET.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.8_1FeNtN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.BlbrNjWf.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DMq0J7V7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.D6O6IDbh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.5-Elpi0x.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.B1gwAzk0.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.D86WGDSh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.B6hxHEfi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.Bh0CHd7o.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DMwa1Kwf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.JUNnB5kv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BJiFQ8Di.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.CQGRRstl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.Zw9l5r2b.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.Bce--_O8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.DulBaC0z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.HLl6XeHK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.B31Vq2M8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.CUoxx_U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.BVESbwbj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.UEWOjmpJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.ClxB8TAh.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/11.CcbHcyv6.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_10nyd07 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.DuwEX4Jr.js"),
						import("../_app/immutable/entry/app.ChEZoEES.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 11],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
