<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-h4Heaw7iMX0bmqrwaGFGSXFknC0543Y8XqQQJXq3EHw='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.CuFA85UG.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.8JYGxwkT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DH3cqJLg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ck6jKiur.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.MnY3fK22.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/tDAaDMC_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/YHhP1LbZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7JDmqCCW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ho0YXExL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BNlp6PFo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DZP54pO_.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.CPgF4GUp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/9ksWc3Vn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/mN05BXqA.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.ahA-ldLa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DZNCtpeX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DOEB3Ovi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/rkCvXuuX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bd2Rvcxs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BTaFr7HN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B31o65yn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DsAM5_DI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/By82gADu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cj5zIR7o.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/0HgaTnX3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BM7IgWpA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dghmk5x3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/T0GdiCOp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Br5w_r0g.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C42IzXc-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DREqFFqR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/mFBwQ9am.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ct8z9Mup.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/lKncIEmp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CXm_nKV1.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/15.kO5pgkLf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CovtrSYj.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1fpybfc = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.8JYGxwkT.js"),
						import("../_app/immutable/entry/app.MnY3fK22.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 15],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
