<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-KQQaW/K1xKUqNxQtnHRl9DO3dr+4Q8FTrXIDeO2eAmw='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.YYg5DEfW.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/16.wTI7IBaZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.CconkAst.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BDzrilSd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.C492xHI4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Ds4XgiuL.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.DZU3wcFk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.xQMZq8C3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Bq2-eTRf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DUes13UE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.DXIK6jcH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.Du7BDhAX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.CB6KOiNf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.B0BrlS58.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.CvXd4vKV.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BQrraEv0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.CcKvRcoi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.B0DuVGSc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CgUwCKxn.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.q5T1tC1S.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.CbFxqVHf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.De7Y7RqT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DW0MpFpK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.nDjAKZm4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/class.Ik0ma2JO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.L0FyJ7Re.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.DknOd3dX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.BAs7X9bt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.BTvs6bnN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.Bth8pjCB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.MnMr4iw5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.CyORuAkT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n_admin.svelte.B9VY-ZfA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.DFmyLr06.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.CnO-zJLG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.CfdKJRPX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.DvmPJwhI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.CVr_yK1P.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.k1DB1JtH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.CE2MIsWS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.DX_QqHl_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.BMvicAQd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/16.uftiin7e.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/InputDateTimeCombo.COgp9L7N.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/form.DekAF1-C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OrderSearchBar.LuMLhfeB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ContentAdmin.COLOikfe.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_9wzy8u = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BDzrilSd.js"),
						import("../_app/immutable/entry/app.DZU3wcFk.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 16],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
