<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }

        body {
            color: var(--col-text);
            background: var(--col-bg);
        }

        a, a:visited {
            color: var(--col-act2)
        }

        a:hover {
            color: var(--col-act2a)
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-6Lx6Grj0Ox2e+ooA9gC/WTNg3VNXsOnNXN+NzcszEv8='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BjC-dB5x.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AdminMainPre.ZcanbrCY.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Loading.C3rZw9wZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.BjnyTAiT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.BgusA-6p.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OptionSelect.v1wsJTwS.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.DM5r-cSQ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AppVersion.DHsV5F-O.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordInput.DaeGq-fv.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CpXtnh7y.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.DI3SBGRg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.8OaWG8sl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.LkyNpeLM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DFcE2Cdu.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.QjcuDgTM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.yBTdRgtG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.D21ACvZ4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.C0dpEWi_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.BQqAvi9S.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.bVSoDcUp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.BhcZdidn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.BDzDHVdA.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.mhWLxyfH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.C6oh0jnA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/is_dev.svelte.DMhPcyij.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.C7Ul_DTA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.DPkpATkG.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/11.C34x5w6D.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.6NChWQ7B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AdminMainPre.CWDwXa4d.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.C4rEqQY1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Loading.CZYfBo5y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.BDI_bIrm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Devices.C6IiDFKU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OptionSelect.CHnFxA-i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/tweened._kLXMt8j.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.BWHohn37.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.DVmWh-6p.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.D95u0ggr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AppVersion.BSR9h6qa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordInput.j52NsKBe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordPolicy.Bw5rsarJ.js"><!--[--><!--]--><title>Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    <input name="rauthy-csrf-token" id="{{ csrf_token }}" type="hidden"/>
    <input name="rauthy-data" id="{{ data }}" type="hidden"/>
    <input name="rauthy-action" id="{{ action }}" type="hidden"/>
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!--[--><div class="container svelte-2cwfk8 local"><div class="loading svelte-2cwfk8" style="margin-top: 0px;"><div style="background: var(--col-acnt);" class="loading-1 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-2 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-3 svelte-2cwfk8"></div></div></div><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1n5xaik = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.DI3SBGRg.js"),
						import("../_app/immutable/entry/app.QjcuDgTM.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 11],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
