<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-6Bkol/cyUebfFgEoTeZAmwyMjKPUd+ApAg3c9XrN2xM='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.C6hbl02t.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/fetch.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.BXzK1hzt.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/12.OaHZF8te.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.C7WIOlJE.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.6qNJJlTz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.Bew_Neqm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/runtime.BsghBUX9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.aWbRXxvg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.ClP8y9aT.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.adKAhc3q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.DY3VEcT0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.CTp9lacC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.cS_wx7Ri.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.jENAUvUX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.6Ov_EDLa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.YH42NwLs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.BynWoD8c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.CslUVmW_.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DVdOPlrM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.C6jUNrz1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.D8rR00qK.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.DviUE_CX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.BSubRRdz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.DDH7z8ZH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DdVUe3_l.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.BvIeF4JA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.G5lyZbma.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.CBl6QeM5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.TD0HCe5U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.BJCTpMmM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.URXtkKAp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.D13BG9DA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.CYO5XJ7v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.DJ5oIUdF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.B7RPH17f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.Dn68_YLB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.BmPHpmKq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.OvZMk6DH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.7OTthgGm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.CkN4jj6Y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/spring.CjfR2MRk.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/12.DLVkZ47s.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/InputDateTimeCombo.CadHmiR0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/form.DXGq3I_7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconBarsArrowUp.CwQnwfB4.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_8mzwf = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.6qNJJlTz.js"),
						import("../_app/immutable/entry/app.adKAhc3q.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 12],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
