<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-xVuXw7jMLrkg9QETK4W28sQDYhsvlU/KFFk/0rOl7lc='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.CuFA85UG.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.8tNCcYqm.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.BfqhCeuH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/8.F0DnbhkX.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.agI82KCI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BTcukTf_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/w0HvPX0p.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.C16xO47B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BzP2S3Z_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BxmJRzoY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/iO9_dPNE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dgjj26O5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6GSeq7M.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.rAYBHwqn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DM69BKKN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/0cG6LBdy.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.DV3F3mxd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C2ZdIFW_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CJLp5kwW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DKM0QPz5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C8YTstTD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BdbQ6g_y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B1f0afjj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D9_8lD-s.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DTYRN0IK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/S81raU5Y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cxw7xmE1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DHOKTGcE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DQl663kV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhhTa2kE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B-AEc_6C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D7WltQR7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/QCVRj9pj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DKnUPdjZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnlWDKfj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhWvimc7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BA2DOvtd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/17.Dx0YZ3ju.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DoeALvoe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CEj6JA72.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6jTHtu1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D9abP6hj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CzQKNE2_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/85nGGue2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cy3hLAXJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Q4PIg3iI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/gfDO7tLr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CDe-qvZi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BdAKL3gn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTshzOVc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DOFJTuej.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BR_xb8zP.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_u18xi2 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.agI82KCI.js"),
						import("../_app/immutable/entry/app.C16xO47B.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 17],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
