<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-scvsceTJQMpNK4G50OjbClVQ8T1mTlOIxWxDGN53fTA='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.YYg5DEfW.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/8.F0DnbhkX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DoCLemSo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BXwPa4pN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.CZTtOFZM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Ds4XgiuL.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BaPtGDZo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.xQMZq8C3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Bq2-eTRf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DUes13UE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.DXIK6jcH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.Du7BDhAX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.Bsf9UJbk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.B0BrlS58.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.CpDInb2-.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BcsU37dM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.CcKvRcoi.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.Dp2Movam.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CB3BpIrt.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.Dm7IBGOg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.CbFxqVHf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.De7Y7RqT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DW0MpFpK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.C_IpvWJY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/class.Ik0ma2JO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.L0FyJ7Re.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.DayTFcBZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.BiRlnt0n.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.BTvs6bnN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.DccTdWl1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.MnMr4iw5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.CyORuAkT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n_admin.svelte.B_OuiPaR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.DFmyLr06.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.CeUp-XwT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.CfdKJRPX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.DvmPJwhI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.BBxnME2p.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.BmVwxLbP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.Dz7xpDMg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.QNLyPX7s.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.Cm32UfqV.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/17.Ccar0VH4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ButtonAddModal.brPC44dh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Modal.CTjF32Uv.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ContentAdmin.COLOikfe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/NavButtonTile.Dssmovmu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/NavSub.Bt5KOzAQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OrderSearchBar.B8p4xeqT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/param.svelte.CIQUM_7v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/pow.CCs-o8yN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/patterns.D9HtGhEC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Form.t2_rDZ40.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/form.DekAF1-C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tabs.D_E9skdl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconCheck.BTwS8Q2u.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LabeledValue.CfdJ335t.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_qq48be = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BXwPa4pN.js"),
						import("../_app/immutable/entry/app.BaPtGDZo.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 17],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
