<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-p3I61heneWT8UaxW5q6on8mOEkqx7wUU2E4lYSkiAqY='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BPQiZb9c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/18.o0Jji9Ts.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.TkB71pkg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputArea.D6mM9kxV.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputFile.zKtyzJAb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BSk315yF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bb7qGq4U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvlvO1XB.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.DFqHf3IA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTI4QPiR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BH6NCLk-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUO_AUgz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Wh68IIk2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zosqiMUL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6SR4G2t.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DvnIj2L0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-T201g_q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CUqQZdNU.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.w3LdZv6x.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i8Xqpu09.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7lxiEjMQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BbRujPvb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMkkW5Nn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BMbqVy6X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cbuxv9a6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/P2Mb08Hr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D1anwFsC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpWRzPRQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dU6E9WaN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8mHI_K9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CxbL1Y_F.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-rrgBMm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BfJ5aiUK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BZjZIsGu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Vi3uK7uO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmpEzKyJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BCsIV4gx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DV_qELhu.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/18.BdPYkVF4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnPoFdx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DZ-K8XgE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BYZsu9rB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-L0o8jR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ClvgHNP_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C712LKcc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CaD2yKt4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BZu_mjh1.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Nks81rMs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cxg1YoLR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B-xX0s4n.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CsaAZyUr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/nnFaiMsH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D9bDr0Ir.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zg4ohzvY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BWnKfvFA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ZNvtRdQk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BZaoh_H_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_OE2Cq0B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CS_Msctd.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_v77snm = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BSk315yF.js"),
						import("../_app/immutable/entry/app.DFqHf3IA.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 18],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
