<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-wYBUDXDTuEOS/LTkZbZIWesL6TrO3xL+7E/CfG92dss='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.CFYmRjJE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.CNgI-ZiY.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.BXzK1hzt.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/18.c-INqtIB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BXmxJf9V.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DoCLemSo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.D1BzMB0F.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.CKm8njtO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Loading.C3rZw9wZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Switch.C9jc5VW9.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.WncxZnbE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.8balB3It.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.CzvcfCLI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.rC471Xih.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.B1j8Qv6L.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.CQT_jR_Y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.BJBkrb2f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DAqZ84H4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.CQASMEo4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.Dlf0zx3_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.CHyqegA9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.BJO3DJPm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.BRvF51YW.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.B091e2aQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.Cu-MpcXt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.CQPSAoNO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.BgTCv98Z.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.D8GDMnVU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.DAmxUMld.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.DLgRxVys.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.icgLvyRI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.CjBmYviZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/class.DOSp4p8N.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.CqGLefLa.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.CG8Bx67-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.kNqlWGzE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.BADoqzxk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.BtetwUOf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.mmO6A0Hj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n_admin.svelte.BJXwhDH_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.DVUNovhB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.Bpt0AMjI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.CtZWuJFH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.DUFkTaXF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.C6x2nc-u.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.CJzJMbxy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.CNTyBeAJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.WWx53l-Z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.OH9H3eZp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/spring.DX62AQVT.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/18.D3zOVH2e.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ContentAdmin.lyR6-tld.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/NavSub.CrZVZZGr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/param.svelte.MG9klZHr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tabs.DVYpupb9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.DG9-U8Na.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/lifecycle.5xT7nXdO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.mrWtKrwW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconCheck.kaTN2egQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/InputPassword.CLwZr0KC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Form.HTTUzO_J.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/pow.ByVZqeQw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/form.DXGq3I_7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LabeledValue.bm1VTFAO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/patterns.BSnCcuba.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Loading.DqrV7Awu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Switch.CwDfiuqK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.DLVsj7KZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.COW-Xmqv.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_ctp7v9 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.WncxZnbE.js"),
						import("../_app/immutable/entry/app.B1j8Qv6L.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 18],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
