<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-WiCkTAMad/2ZLmCzyHqut++bDODOzCjoIZ4niML05Ok='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/8.F0DnbhkX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DoCLemSo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CLcsWOS5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CRhC1XE8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvlvO1XB.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CHL_O5Ts.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTI4QPiR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BH6NCLk-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUO_AUgz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Wh68IIk2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zosqiMUL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6SR4G2t.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.YgBVodKw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-T201g_q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DOl8_ubJ.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.B-zWphhB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i8Xqpu09.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7lxiEjMQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ds6bXi0i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMkkW5Nn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BMbqVy6X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DNdifVes.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/KFFqpuZ0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CGXT-546.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CGniv4pe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpWRzPRQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhIBACXG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8mHI_K9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/bbkAiDd0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DM7UbbyI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B6SEzQuS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Vi3uK7uO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmpEzKyJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CR02HlKk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DbOz6XEk.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/19.Bl8K80iH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BIsFWZ5z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/GDMtXUL9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnPoFdx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-L0o8jR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D3G2nKoD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DxrdFxfV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D45liQ4S.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DmeAqnkr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CqS1e6KT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_OE2Cq0B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Nks81rMs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CE2_6siz.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_uspu0s = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CLcsWOS5.js"),
						import("../_app/immutable/entry/app.CHL_O5Ts.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 19],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
