<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-9D7fFDnjMUPE/u3g6y8+okGzb6gKsWyICoN8zaeJK74='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.CFYmRjJE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.C346Hxhb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.BXzK1hzt.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/19.DMQhksrK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ExpandContainer.DBJP9gRI.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.C6K3BP3E.css" rel="stylesheet">
		<link href="../_app/immutable/assets/TabBar.DBbO2BIF.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.MCtU4koe.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.BjnyTAiT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Loading.C3rZw9wZ.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.C7tjwqgR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.J1kODerE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.CzvcfCLI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.rC471Xih.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.ErFEZDvH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.CE_igUbE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.BjwlFNsb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.DAqZ84H4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.CQASMEo4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.Dlf0zx3_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.CHyqegA9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.BJO3DJPm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.BRvF51YW.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.DriNzQAz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.Cu-MpcXt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.CQPSAoNO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CQpTABT5.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.o8dMT7iB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.DAmxUMld.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.DGy9O2Cx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.icgLvyRI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.6IA1Uwqq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/class.CZuJD32d.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DIq6rU-s.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.ChfH0xop.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.DC_VHWHA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.H0oeJWel.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.BtetwUOf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.DcPY3vts.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n_admin.svelte.BIwIWUz9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.jldij1e_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.c9MqxzSw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.B2v-K1dd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.DUFkTaXF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.BlBsJtzF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.BebJWjvf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.DGZtZKFW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.DAbPTaZy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.BkfdH2C0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/spring.OGkpm0Jd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/19.BRinExRn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetchingAdmin.B9HpEv9M.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.mrWtKrwW.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ExpandContainer.mMg1-3On.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Pagination.wqY_Z7HS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconBarsArrowUp.C5AsbaN_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/TabBar.QHqJqZno.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.DLjtJeOK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.DNpYkKbO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Loading.BRNwmSk_.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1sl2eac = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.C7tjwqgR.js"),
						import("../_app/immutable/entry/app.ErFEZDvH.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 19],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
