<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-43YQdD5jZM7DVTzfuY3WnL3r10BVWJhbKPH9fX/EYw0='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.YYg5DEfW.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/20.BNqwWElZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.DoCLemSo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SelectList.DNmAiskR.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.zb6hqT3_.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.t_yOi4md.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.2kN-MiJh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.Di99sPv0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.DbxaHF51.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BVgwTf5n.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.CBr1omBZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Cjc4CIr8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.B7nS6fh6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.BEKX6jgL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.DgeUjMU2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.BQ2dmY0t.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.Ckttlp1y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.ClgLgKUv.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.iWjVSqob.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.D2r9qTNj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/language.svelte.C9zKQto8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.Bc6aINkd.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.C8_ePtDQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/html.CddWxNhc.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/window.jI-ViO5i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Main.DKi4VjsM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Button.D-14suAe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/class.BCapn1bP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.BnJsthXQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch._9IF3ElF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LangSelector.4LOWcG6_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.D3KrX4pz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Options.DtWx0xTK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/each.DxtmCefA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/input.NYWjhvEE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n_admin.svelte.DI6l2V4l.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/fetch.DxJS_Pk_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.Bk4BYGoq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.B_eQV28B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.DJEB66nf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/A.C7atw0W6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconStop.8S4C4V3m.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tooltip.59ZAsezP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/spring.DahybOdg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/session.svelte.BocnM0Us.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Event.vIjPhP1V.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/20.BWjV71L0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/OrderSearchBar.CS_Hs5DC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconBarsArrowUp.aZjGzjdM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ContentAdmin.BWiTVMIY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/NavButtonTile.BjzIPqLk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ButtonAddModal.DLvLHw-v.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Modal.BTuJV0y2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/NavSub.D01RyWn2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/param.svelte.Bg3Frte-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.-lhBsjDF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/IconCheck.K_67dytm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Form.C0Yvca1O.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/pow.BIzAC1fj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/form.DekAF1-C.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/LabeledValue.D0BXhgF2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/SelectList.BcngFbY0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/InputCheckbox.BTJtACoe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/patterns.BDQXnG3O.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tabs.CTmGp6-A.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1o6t8ur = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.t_yOi4md.js"),
						import("../_app/immutable/entry/app.BVgwTf5n.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 20],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
