<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-4DSjkTYnSr+X0a2+KlPYqcbOLDMWKCsxEql5yHqzAD8='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BPQiZb9c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/20.BNqwWElZ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.8tNCcYqm.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.TkB71pkg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SelectList.C3ZG6Sq9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.DtlNDiNC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DfjO4aDm.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BveBAmlr.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CT3z3KST.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CYCba2oX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DKC5GJ29.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-uYoVwt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/VbPNpVtZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DLmJ2nn8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Db0ChEdV.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BdTp30JC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dv-Q3FDX.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/8R5My_LO.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.BqHJ1fOT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CJj8kriY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DpR-4P2Y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DaM_1q3c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DlLEcmNg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dql74IOz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BFgWaswG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B5qGhNUP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DdLeAElE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BLE4FKaJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ds33nkO-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DtT3Jahq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/y1LQxlVJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/VqHJpFtz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CE9vlfyw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BPydPKHg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B7o5HlxY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BVxkLPhB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B100j8aI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CPBhBTQd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ClhFTYjw.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/20.DdrNaPnl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CPgfHyhH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CqiL-eHy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/pmj7Ha_a.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B1rQzxl_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bu9w5Iki.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CPmtaWoD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bvh621KL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CCQyB9gY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cxysd5TC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BguaNybM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/FI26onRO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BKI7vHi6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CKIfa-j4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/4YTb0aaH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BGiCnx1L.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_61u0rj = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.DtlNDiNC.js"),
						import("../_app/immutable/entry/app.CT3z3KST.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 20],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
