<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-w9DrXmvkygefqRuSwO6Mx4+9TQKCSvl2sIFDW8gS1ZI='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.Cmyyzwvb.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.Dm-IaPgT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/21.DBFGCYxz.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.BdyGauFO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/search.DUeB7W-1.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.X9pxSqmN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C8YMBFuR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvlvO1XB.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CaoU4SeU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTI4QPiR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BH6NCLk-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUO_AUgz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Wh68IIk2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zosqiMUL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6SR4G2t.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.UbyZUWMC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-T201g_q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BQ1-pLIs.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.BcA2dC8U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i8Xqpu09.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7lxiEjMQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Ds6bXi0i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMkkW5Nn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BMbqVy6X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CVHA2fPQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BAqymMo_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BaE7H8ny.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BHnvQvwL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpWRzPRQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhIBACXG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8mHI_K9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CBGoQiUs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DtY04en8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BNw-mjZh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Vi3uK7uO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmpEzKyJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhccdcsY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bxr7soXm.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/21.ULOkjUD6.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/yrKs3w9k.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BZaoh_H_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CS_Msctd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Nks81rMs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CgRaCfAG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CE2_6siz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnPoFdx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CT2gdhvj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BWj5qgFT.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_75elsr = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.X9pxSqmN.js"),
						import("../_app/immutable/entry/app.CaoU4SeU.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 21],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
