<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-EoppsU4B2bLPAhO+NdmdraxlkSqtTwdk0rLnCO0HgKs='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BPQiZb9c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/21.DBFGCYxz.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.BdyGauFO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/search.DUeB7W-1.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CVCAG5Q7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DNI_9XFs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/nlANaGLT.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.CXYTVA1I.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmMHVVX3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CWf9OOFK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DOjUa9u5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/5u5qd9TD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CzqnnvDH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/uWmgYd3Z.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BJRxLW0f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BgMuVWsk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DwvS5LQk.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.tq1QjUjV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CSmZOR6t.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D5tppINK.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BDnQQV_p.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BEQMYyDu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CZv_AhHu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Afb0E4F7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DbogliCN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B21bTIl7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/FmRbdHbC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B6azywu7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DHRD3bu9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bb8ybDgy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BO1A6s0c.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B4Xt-L9L.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ByEJQidz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CdxD-BT8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DhLqkb2H.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DJ6IvX5N.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dnd9tLWr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C8iV2OFO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Be0yYLp7.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DYOzC1O-.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/21.Rq7p-CSS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/mxwYGKSe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BDjJffow.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/gvhP3O7i.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DYRiKtW9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8CbPIAy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/x5MgfX0R.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BSE9YYho.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Np7i_reI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DRk-dg9U.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1ku7qpf = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CVCAG5Q7.js"),
						import("../_app/immutable/entry/app.CXYTVA1I.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 21],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
