<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/favicon.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}"/>
    <style>
        :root {
            --col-act1: {{ col_act1 }};
            --col-act1a: {{ col_act1a }};
            --col-act2: {{ col_act2 }};
            --col-act2a: {{ col_act2a }};
            --col-acnt: {{ col_acnt }};
            --col-acnta: {{ col_acnta }};
            --col-ok: {{ col_ok }};
            --col-err: {{ col_err }};
            --col-glow: {{ col_glow }};
            --col-gmid: {{ col_gmid }};
            --col-ghigh: {{ col_ghigh }};
            --col-text: {{ col_text }};
            --col-bg: {{ col_bg }};

            --width-events: 12.5rem;
            --width-events-collapsed: 2.5rem;
            --width-events-wide: 30rem;
        }
    </style>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-Thp7941Ds4MPjfpV1Sr3O+6mVygO7OPDE2ZSnJOEE34='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BtFudpTE.css" rel="stylesheet">
		<link href="../_app/immutable/assets/AdminMainPre.DiRJPsRv.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.C13cg-N8.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.Bo-ymj4r.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.5n76ILtG.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.CScT6MJy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/entry.Bg4crcSB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index-client.BTDbhFDr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.0CbzcHSz.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.z8U3dY7m.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/preload-helper.CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy-client.CJx5CRrl.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/render.Bnf33Vuq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/svelte-head.j24Rpelw.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/template.WjkCsOA4.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/disclose-version.BDr9Qe-U.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/if.DAPrgfY3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/proxy.RLXrsQTM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/this.0speaOir.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/props.C0sO4y_5.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.Dsj9qehk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/snippet.DrOrOIgy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i18n.svelte.CR36i7o7.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/17.BKzpesKu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/legacy.CiDis14V.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/AdminMainPre.DunJUaEo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/dataFetching.hs0Cnov0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/helpers.DwhnXD2f.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.DYH-NVxC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/index.C-OHSz9E.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Devices.CbOw9cF-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ThemeSwitch.roIqycWj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Input.CUSPvo5Z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/patterns.BdncpE46.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CheckIcon.Bn8r0Uf_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/PasswordPolicy.Cl5PT5DD.js"><!--[--><!--]--><title>Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!----><!--[--><div class="container svelte-2cwfk8 local"><div class="loading svelte-2cwfk8" style="margin-top: 0px;"><div style="background: var(--col-acnt);" class="loading-1 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-2 svelte-2cwfk8"></div> <div style="background: var(--col-acnt);" class="loading-3 svelte-2cwfk8"></div></div></div><!--]--><!----><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_1m9mp3z = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.CScT6MJy.js"),
						import("../_app/immutable/entry/app.z8U3dY7m.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 17],
							data: [null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
