<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-E3/l7UYamYg0e5TsSiwflYJ3XTzWofEboJQXQVvsQIo='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.BgTF6zX-.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.BPQiZb9c.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.D8d1DpHB.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Users.DW0xzJBk.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.BdyGauFO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.TkB71pkg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.Cng_QrXH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/pow.CVii6IAo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SelectList.C3ZG6Sq9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.CG8oDF9x.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/search.DUeB7W-1.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.-fV6I6Yp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bnwh-ved.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CvlvO1XB.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.Dl5QeIFT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CmsKOCeN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTI4QPiR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BH6NCLk-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUO_AUgz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Wh68IIk2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/zosqiMUL.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C6SR4G2t.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.AReDrV9X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-T201g_q.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CgEHB2u3.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.CaAZ-8vT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/i8Xqpu09.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/7lxiEjMQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BbRujPvb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMkkW5Nn.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BMbqVy6X.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DX6irJfo.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/KzU4-o98.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Brp0G0eV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/ahjiAH8y.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BpWRzPRQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BhIBACXG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D8mHI_K9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CRjU5SuJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/u-vgjdTr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BjNKHfO0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/8APYSIIx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Vi3uK7uO.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BmpEzKyJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CO1TlAUy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DYeL-YEn.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/22.DrKEU6-k.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BPcol6Mu.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B6KLrTr9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D14lavk9.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BZaoh_H_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/G5KuhWXq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DC7AzrtQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DkpnkP5j.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/rQ2Hm1Il.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-L0o8jR.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BnPoFdx3.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D-haFZtM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BRCxk8by.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BJ_mu-WB.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DswDW5U8.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DTR8xafZ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CTgOhmZ_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DwPt1Ew5.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CE2_6siz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/_OE2Cq0B.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CS_Msctd.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Nks81rMs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DUV2YlaD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BUc4wf1T.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/YxbVyMQV.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/4vz3sm1u.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CLHgsczQ.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--[!--><!--[!--><!--]--><!--]--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_2ohoxq = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.-fV6I6Yp.js"),
						import("../_app/immutable/entry/app.Dl5QeIFT.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 22],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
