<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8"/>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Rauthy</title>
    <link rel="icon" href="../assets/rauthy_light.svg"/>
    <link rel="stylesheet" href="/auth/v1/theme/{{client_id}}/{{theme_ts}}"/>
    <meta http-equiv="content-security-policy" content="default-src 'none'; connect-src 'self'; img-src 'self'; script-src 'self' 'wasm-unsafe-eval' 'sha256-OSP/Xsxf+u7wMBhoAesKKfINTXoiD8eO9PvS4QLLuYY='; style-src 'self' 'unsafe-inline'">
		<link href="../_app/immutable/assets/0.Bj1icLx7.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Main.t55ZbI3J.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Button.B30wK1m9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ThemeSwitch.DqWmA1Kg.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Options.DhTNlbAJ.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LangSelector.U7YPPwhi.css" rel="stylesheet">
		<link href="../_app/immutable/assets/A.Dh1ywWRo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tooltip.C_ZIhQMX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Event.jSO7nsEo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/2.CuFA85UG.css" rel="stylesheet">
		<link href="../_app/immutable/assets/OrderSearchBar.CA5kVv7H.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Pagination.BdyGauFO.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavSub.BfqhCeuH.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Modal.BtIM9gKT.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ButtonAddModal.seo_jBEw.css" rel="stylesheet">
		<link href="../_app/immutable/assets/NavButtonTile.8tNCcYqm.css" rel="stylesheet">
		<link href="../_app/immutable/assets/ContentAdmin.BLfkWbjo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Input.CjG9bJth.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputCheckbox.C8ohHFHX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputDateTimeCombo.DolONx9D.css" rel="stylesheet">
		<link href="../_app/immutable/assets/SelectList.C3ZG6Sq9.css" rel="stylesheet">
		<link href="../_app/immutable/assets/LabeledValue.DgYB9jCX.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Tabs.CEW0mXQK.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Expandable.D-p5TY3y.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Devices.CVExXCgo.css" rel="stylesheet">
		<link href="../_app/immutable/assets/PasswordPolicy.CUa-s_dl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/InputPassword.C2KOSbcl.css" rel="stylesheet">
		<link href="../_app/immutable/assets/search.DUeB7W-1.css" rel="stylesheet">
		<link href="../_app/immutable/assets/Users.C6GXENOF.css" rel="stylesheet">
		<link rel="modulepreload" href="../_app/immutable/entry/start.BaojQFpe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CLscQOqM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C0XrmWuC.js">
		<link rel="modulepreload" href="../_app/immutable/entry/app.BTg3eX0I.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D9PF6UkP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DiP_w2ew.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/656WzJtY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CkJYhCSe.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DM5IaAvE.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/0.BnVlqQXI.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CwZgXZ6P.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CIAGEtKU.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/2.BBDolunA.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DJG69cfz.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/-vXXjMRT.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bzb8WG3W.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Buvqu-RJ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/1ZS0qFRG.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/KClC09Nk.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D2xaY19z.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Cx6cA6Ki.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D4-1kQAh.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CJENaP9_.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DplHO1sj.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/TwEUzhIy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DMieIo7a.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dn5YVEFM.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/uKUwPdin.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BWup3uwf.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B-kq-xnC.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CPhdr6bb.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C9TTlRVr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CIpexSXt.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BGLEFn58.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DRwhNIeh.js">
		<link rel="modulepreload" href="../_app/immutable/nodes/22.CXB20JdN.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B78u8IEP.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Tc1XJeMx.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/YgjLjcCp.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BxGGC_M-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/B-yCTmx-.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CocMgBlr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/D2zB-l46.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/wGIx8MYF.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DT9JRqIQ.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Bm0BZ32G.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/yQnwIU9m.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DzmDou2k.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CGfBumSq.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/HguhFfd2.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CNETPzkr.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/wCTsFQ3e.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DUGdZrhU.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Buhh8tsS.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dzu6HvSD.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CR5YEZgY.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/lsYUiROg.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/BfhzFwm0.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CWtfG_mE.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/CRtRP45A.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/DxvPrxgH.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/jlictnzy.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/Dv2k86Rs.js">
		<link rel="modulepreload" href="../_app/immutable/chunks/C17eXemz.js"><!--[--><!--]--><title>Rauthy Admin</title>
</head>
<body>
<div class="hidden" aria-hidden="true">
    {%- for tpl in templates -%}
    <template id="{{ tpl.id() }}">{{ tpl.inner()|safe }}</template>
    {%- endfor %}
</div>
<div style="display: contents"><!--[--><!--[--><!----><noscript><h2>You need to enable JavaScript</h2></noscript> <!--[--><!--[--><!----><!--[!--><!--]--><!----><!--]--><!----><!--]--><!----><!--]--> <!--[!--><!--]--><!--]-->
			
			<script>
				{
					__sveltekit_10b0fy7 = {
						base: new URL("..", location).pathname.slice(0, -1),
						assets: "/auth/v1"
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../_app/immutable/entry/start.BaojQFpe.js"),
						import("../_app/immutable/entry/app.BTg3eX0I.js")
					]).then(([kit, app]) => {
						kit.start(app, element, {
							node_ids: [0, 2, 22],
							data: [null,null,null],
							form: null,
							error: null
						});
					});
				}
			</script>
		</div>
</body>
</html>
