{% extends "base.html" %}

{% block title %}E-Mail Reset{% endblock %}

{% block content %}
<h1>{{ header }} {{ email_sub_prefix }}</h1>
<p>{{ text }}</p>
<p>{{ click_link }}</p>
<p>{{ validity }}</p>
<p><span class="font-label">{{ expires }}</span> <b>{{ exp }}</b></p>
<a href="{{ link }}">{{ button_text }}</a>
<footer>
    <p>{{ footer }}</p>
    {%- if !link_request_new.is_empty() -%}
    <a href="{{ link_request_new }}" data-faded="true">{{ button_text_request_new }}</a>
    {%- endif -%}
</footer>
{% endblock %}
